<div class="container">
    <div [hidden]="userAdded">
        <h3 style="margin-top: 30px;">New User Information <span style="font-size:small">* is a required field</span>
        </h3>
        <form (ngSubmit)="onSubmit()">
            <md-grid-list cols="10" rowHeight="60px">
                <md-grid-tile [colspan]="4" [rowspan]="1">
                    <md-input-container>
                        <input mdInput
                               class="form-control"
                               name="username"
                               placeholder="Enter a username"
                               [(ngModel)]="newUser.username" required/>
                    </md-input-container>
                </md-grid-tile>
            </md-grid-list>


            <md-grid-list cols="10" rowHeight="60px">
                <md-grid-tile [colspan]="4" [rowspan]="1">
                    <md-input-container>
                        <input mdInput
                               class="form-control"
                               name="password"
                               placeholder="Enter a password"
                               [(ngModel)]="newUser.password" required/>
                    </md-input-container>
                </md-grid-tile>
            </md-grid-list>


            <md-grid-list cols="10" rowHeight="60px">
                <md-grid-tile [colspan]="4" [rowspan]="1">
                    <md-input-container>
                        <input mdInput
                               class="form-control"
                               name="firstName"
                               placeholder="Enter a First Name"
                               [(ngModel)]="newUser.firstName" required/>
                    </md-input-container>
                </md-grid-tile>
            </md-grid-list>


            <md-grid-list cols="10" rowHeight="60px">
                <md-grid-tile [colspan]="4" [rowspan]="1">
                    <md-input-container>
                        <input mdInput
                               class="form-control"
                               name="lastName"
                               placeholder="Enter a Last Name"
                               [(ngModel)]="newUser.lastName" required/>
                    </md-input-container>
                </md-grid-tile>
            </md-grid-list>

            <md-grid-list cols="10" rowHeight="60px">
                <md-grid-tile [colspan]="4" [rowspan]="1">
                    <md-input-container>
                        <input mdInput
                               class="form-control"
                               name="lastName"
                               placeholder="Enter an Email"
                               [(ngModel)]="newUser.email" required/>
                    </md-input-container>
                </md-grid-tile>
            </md-grid-list>

            <md-grid-list cols="20" rowHeight="60px">
                <md-grid-tile [colspan]="2" [rowspan]="1">
                    <button class="mat-primary" md-raised-button type="submit">Add User</button>
                </md-grid-tile>
                <md-grid-tile [colspan]="2" [rowspan]="1">
                    <a class="mat-warn" md-raised-button routerLink="/">Cancel</a>
                </md-grid-tile>
            </md-grid-list>
        </form>
    </div>
    <div class="row" [hidden]="!userAdded">
        <h3>User added successfully!</h3>
    </div>
</div>